<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo">
      <img src="assets/img/nemesis-logo.png"> </span>
  </div>

  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">{{ 'Not_Account' | i18n }}</span>
    <a routerLink="/auth/register" class="btn btn-danger">{{ 'Created_Account' | i18n }}</a>
  </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">{{ 'Title' | i18n }}</h1>
        <div class="hero">

          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">{{ 'Sub_Title' | i18n }}</h4>
            <!-- <div class="login-app-icons">
              <a routerLink="/dashboard/analytics" class="btn btn-danger btn-sm">Frontend Template</a>
              <a routerLink="/smartadmin/app-layouts" class="btn btn-danger btn-sm">Find out more</a>
            </div> -->
          </div>

          <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" alt="" style="width:210px">

        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">{{ 'Content_Footer_Header_First' | i18n }}</h5>
            <p>
              {{ 'Content_Footer_Header_First_Content' | i18n }}
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">{{ 'Content_Footer_Header_Second' | i18n }}</h5>
            <p>
              {{ 'Content_Footer_Header_Second_Content' | i18n }}
            </p>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form id="formData" #userLoginData="ngForm" (ngSubmit)="loginUser(userLoginData)"
            class="smart-form client-form">
            <header>
              {{ 'Login' | i18n }}
            </header>
            <fieldset>
              <section>
                <label class="label">{{ 'Email_Input' | i18n }}</label>
                <label class="input">
                  <i class="icon-append fa fa-user"></i>
                  <input type="email" name="email" data-smart-validate-input="" data-required="" data-email="" #email
                    [(ngModel)]="model.email" data-message-required="Please enter your email address"
                    data-message-email="Please enter a VALID email address">
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-user txt-color-teal"></i>{{ 'Email_Validation' | i18n }}</b>
                </label>
              </section>
              <section>
                <label class="label">{{ 'Password_Input' | i18n }}</label>
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" data-smart-validate-input="" data-required=""
                    [(ngModel)]="model.password" data-minlength="3" data-maxnlength="20"
                    data-message="Please enter your email password">
                  <b class="tooltip tooltip-top-right">
                    <i class="fa fa-lock txt-color-teal"></i>{{ 'Password_Validation' | i18n }}</b>
                </label>

                <div class="note">
                  <a routerLink="/auth/forgot-password">{{ 'Forgot_Password' | i18n }}</a>
                </div>
              </section>
              <section>
                <label class="checkbox">
                  <input type="checkbox" ngModel name="kaydet" checked>
                  <i></i>{{ 'Remember_Me' | i18n }}</label>
              </section>
            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary">
                {{ 'Login_Button' | i18n }}
              </button>
            </footer>
          </form>
        </div>
        <!-- <h5 class="text-center"> - Or sign in using -</h5>
        <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>
</div>