<div class="row">
  <div class="col-sm-2">
    <p>Kullanıcı Adı</p>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">@</span>
      <input [(ngModel)]="tweet" required minlength="4" type="search" class="form-control" placeholder="Example Nasa">
    </div>
  </div>
  <div class="col-sm-2">
    <p>Kaç tweet Getirilsin</p>
    <input [(ngModel)]="count" type="number" min="1" [value]="2" class="form-control">
  </div>
  <div class="col-sm-2">
    <br>
    <button [ngClass]="!tweet || !count ? 'btn-danger' : 'btn-success'" class="btn" style="margin-top:10px;" (click)="getTweet()" [disabled]="!tweet || !count">Getir</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-md-4">
    <div style="margin-top:10px;" *ngFor="let tweet of tweets">
      <div class="media">
        <a class="media-left" href="#fake">
          <img style="border-radius: 50%" class="media-object img-rounded" [src]="tweet.user.profileImageUrl">
        </a>
        <div class="media-body">
          <h3 class="media-heading">{{ tweet.user.name }}
            <small>@{{tweet.user.screenName }}</small>
          </h3>
          <small class="text-muted">{{ tweet.createdAt | date }}</small>
          <!-- <p class="font-weight-bold" *ngIf="tweet.retweeted_status == null">{{ tweet.full_text }}</p> -->
          <p class="font-weight-bold">{{ tweet.text }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2 col-md-2"></div>
  <!-- <div class="col-sm-4 col-md-4 pull-right">
    <div *ngFor="let trend of trendsName">
      <p *ngIf="trend.name.substr(0,1) == '#'">
        {{ trend.name }}
        {{ trend.tweet_volume }}
      </p>
    </div>
  </div> -->
</div>

<!-- MAIN CONTENT -->
<div *ngIf="analysis" id="content">
  <span *ngIf="tweets.length > 0">
    <h2>{{ tweets.length }} tweets are listed!</h2>

    <table *ngIf="dates.length > 0" class="table table-bordered">
      <thead>
        <tr>
          <th>Sharing Date</th>
          <th>Previous Tweet</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of dates | paginate: { itemsPerPage: 20, currentPage: p3, id: 'third' }">
          <td>{{ d.date | date:'d.M.yyyy'}}</td>
          <td>{{ d.last }} days ago</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls class="pull-right" (pageChange)="p3 = $event" id="third" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Geri" nextLabel="İleri" screenReaderPaginationLabel="Pagination"
      screenReaderCurrentLabel="You're on page"></pagination-controls>
    <h2>Sharing Frequency: {{ dateDiffTotal/dates.length | number }} day(s)</h2>
  </span>

  <!-- widget grid -->
  <sa-widgets-grid>

    <div class="row" *ngIf="lineChartJsData">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div sa-widget [editbutton]="false">
          <header>
            <span class="widget-icon">
              <i class="fa fa-bar-chart-o"></i>
            </span>
            <h2>Line Chart</h2>
          </header>
          <div>
            <div class="widget-body">
              <sa-chart-js type="line" [data]="lineChartJsData"></sa-chart-js>
            </div>
          </div>
        </div>

        <!-- <div sa-widget [editbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
            <h2>Radar Chart</h2>
          </header>
          <div>
            <div class="widget-body">
              <sa-chart-js type="radar" [data]="chartjsData['radar-chart']"></sa-chart-js>
            </div>
          </div>
        </div>

        <div sa-widget [editbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
            <h2>Polar Chart</h2>
          </header>
          <div>
            <div class="widget-body">
              <sa-chart-js type="polarArea" [data]="chartjsData['polar-chart']"></sa-chart-js>
            </div>
          </div>
        </div>-->

      </article>
      <!--
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div sa-widget [editbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
            <h2>Bar Chart</h2>
          </header>
          <div>
            <div class="widget-body">
              <sa-chart-js type="bar" [data]="chartjsData['bar-chart']"></sa-chart-js>
            </div>
          </div>
        </div>


        <div sa-widget [editbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
            <h2>Doughnut Chart</h2>
          </header>
          <div>
            <div class="widget-body">
              <sa-chart-js type="doughnut" [data]="chartjsData['doughnut-chart']"></sa-chart-js>
            </div>
          </div>
        </div>


      </article>-->
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div sa-widget [editbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
            <h2>Doughnut Chart</h2>
          </header>
          <div>
            <div class="widget-body">
              <sa-chart-js type="doughnut" [data]="chartjsData['doughnut-chart']"></sa-chart-js>
            </div>
          </div>
        </div>
      </article>
    </div>
    <div class="row" *ngIf="lineChartJsData">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div sa-widget [editbutton]="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
            <h2>Pie Chart</h2>
          </header>
          <div>
            <div class="widget-body">
              <sa-chart-js type="pie" [data]="chartjsData['pie-chart']"></sa-chart-js>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>

  <!-- chart-2 -->
</div>



<!-- HASHTAG -->
<br>
<br>
<br>

<div class="row">
  <div class="col-sm-2">
    <p>Hashtag</p>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon2">#</span>
      <input [(ngModel)]="hastag" type="search" class="form-control" placeholder="Example Pazartesi">
    </div>
  </div>
  <div class="col-sm-2">
    <p>Kaç tweet Getirilsin</p>
    <input [(ngModel)]="hcount" type="number" min="1" [value]="2" class="form-control">
  </div>
  <div class="col-sm-2">
    <p>Tweet Türü</p>
    <select [(ngModel)]="tweetType" class="form-control">
      <option value="popular">Popüler Tweetler</option>
      <option value="recent">Son Tweetler</option>
      <option value="mixed">Karışık Tweet</option>
    </select>
  </div>
  <div class="col-sm-2">
    <br>
    <button [ngClass]="!hastag || !hcount ? 'btn-danger' : 'btn-success'" class="btn" style="margin-top:10px;" (click)="getHastag()" [disabled]="!hastag || !hcount">Getir</button>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-6">
    <div style="margin-top:10px; padding:0px;" *ngFor="let hastag of hastags.tweets">
      <div class="media">
        <a class="media-left" href="#fake">
          <img style="border-radius: 50%" class="media-object img-rounded" [src]="hastag.user.profileImageUrl">
        </a>
        <div class="media-body">
          <h3 class="media-heading">{{ hastag.user.name }}
            <small>@{{hastag.user.screenName }}</small>
          </h3>
          <small class="text-muted">{{ hastag.createdAt | date }}</small>
          <p class="font-weight-bold">{{ hastag.text }}</p>
        </div>
      </div>
    </div>
    
  </div>
</div>

<span *ngIf="hastags.length > 0">
  <h2>{{ hastags.length }} hashtags are listed!</h2>
</span>