<div class="login-info" *ngIf="us.user$ | async as user">
  <span><a (click)="toggleShortcut()">
	   <img *ngIf="user.picture" [src]="user.picture" alt="me"
          class="online"/><span >{{ user.username === 'John Doe'? userLogged.username:'Guest' }}</span> <!-- <i class="fa fa-angle-down"></i> -->
    </a>
   </span>
</div>
