<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo">
      <img src="assets/img/nemesis-logo.png"> </span>
  </div>

  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">{{ 'Already_Register' | i18n }}</span>
    <a routerLink="/auth/login" class="btn btn-danger">{{ 'Login' | i18n }}</a>
  </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <!-- MAIN CONTENT -->
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">{{ 'Title' | i18n }}</h1>
        <div class="hero">

          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">{{ 'Sub_Title' | i18n }}</h4>
            <!-- <div class="login-app-icons">
              <a routerLink="/dashboard/analytics" class="btn btn-danger btn-sm">Frontend Template</a>
              <a routerLink="/smartadmin/app-layouts" class="btn btn-danger btn-sm">Find out more</a>
            </div> -->
          </div>

          <img src="assets/img/demo/iphoneview.png" class="pull-right display-image" style="width:210px">

        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">{{ 'Content_Footer_Header_First' | i18n }}</h5>
            <p>
              {{ 'Content_Footer_Header_First_Content' | i18n }}
            </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">{{ 'Content_Footer_Header_Second' | i18n }}</h5>
            <p>
              {{ 'Content_Footer_Header_Second_Content' | i18n }}
            </p>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">

          <form id="formData" #userData="ngForm" (ngSubmit)="registerUser(userData)"
            class="smart-form client-form">
            <header>
              {{ 'Register_Header' | i18n }}
            </header>

            <fieldset>
              <section>
                <label class="input">
                  <i class="icon-append fa fa-user"></i>
                  <input type="text" name="firstName" placeholder="{{ 'Firstname_Placeholder' | i18n }}" ngModel>
                  <b class="tooltip tooltip-bottom-right">{{ 'Firstname_Validation' | i18n }}</b>
                </label>
              </section>

              <section>
                <label class="input">
                  <i class="icon-append fa fa-user"></i>
                  <input type="text" name="lastName" placeholder="{{ 'Lastname_Placeholder' | i18n }}" ngModel>
                  <b class="tooltip tooltip-bottom-right">{{ 'Lastname_Validation' | i18n }}</b>
                </label>
              </section>

              <section>
                <label class="input">
                  <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="email" placeholder="{{ 'Email_Placeholder' | i18n }}" ngModel>
                  <b class="tooltip tooltip-bottom-right">{{ 'Email_Validation' | i18n }}</b>
                </label>
              </section>

              <section>
                <label class="input">
                  <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password" placeholder="{{ 'Password_Placeholder' | i18n }}" id="password"
                    ngModel>
                  <b class="tooltip tooltip-bottom-right">{{ 'Password_Validation' | i18n }}</b>
                </label>
              </section>

              <!-- <section>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="passwordConfirm" placeholder="Confirm password">
                  <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
              </section> -->
            </fieldset>

            <fieldset>
              <!-- <div class="row">
                <section class="col col-6">
                  <label class="input">
                    <input type="text" name="firstname" placeholder="First name">
                  </label>
                </section>
                <section class="col col-6">
                  <label class="input">
                    <input type="text" name="lastname" placeholder="Last name">
                  </label>
                </section>
              </div>

              <div class="row">
                <section class="col col-6">
                  <label class="select">
                    <select name="gender">
                      <option value="0" selected disabled>Gender</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="3">Prefer not to answer</option>
                    </select> <i></i> </label>
                </section>
                <section class="col col-6">
                  <label class="input"> <i class="icon-append fa fa-calendar"></i>
                    <input type="text" name="request" placeholder="Request activation on" class="datepicker" data-dateformat="dd/mm/yy">
                  </label>
                </section>
              </div> -->

              <section>
                <!-- <label class="checkbox">
                  <input type="checkbox" name="subscription" id="subscription">
                  <i></i>I want to receive news and special offers</label> -->
                <label class="checkbox">
                  <input type="checkbox" name="terms" id="terms" [(ngModel)]="termsAgreed">
                  <i></i>{{ 'Membership_Header' | i18n }}
                  <a href="#" (click)="openModal($event, termsModal)">{{ 'Membership' | i18n }}</a>
                </label>
              </section>
            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary">
                {{ 'Register' | i18n }}
              </button>
            </footer>

            <!-- <div class="message">
              <i class="fa fa-check"></i>
              <p>
                Thank you for your registration!
              </p>
            </div> -->
          </form>

        </div>
        <!-- <p class="note text-center">*FREE Registration ends on October 2015.</p> -->
        <!-- <h5 class="text-center">Sosyal Medyada Biz</h5> -->
        <!-- <ul class="list-inline text-center">
          <li>
            <a (click)="(null)" class="btn btn-primary btn-circle">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-info btn-circle">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li>
            <a (click)="(null)" class="btn btn-warning btn-circle">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>
        </ul> -->
      </div>
    </div>
  </div>

</div>


<!-- <ng-container  *ngComponentOutlet="TermsModalComponent"></ng-container> -->

<ng-template #termsModal>
  <smart-terms-modal (agree)="onTermsAgree()" (close)="onTermsClose()"></smart-terms-modal>
</ng-template>