/* You can add global styles to this file, and also import other style files */
/* #GOOGLE FONT */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700");
@import "~angular-notifier/styles";

#left-panel {
    background: whitesmoke;
}

.fixed-navigation nav>ul {
    padding-right: 30px;
}

#extr-page #main {
    margin-top: 70px!important;
}