<form class="smart-form" id="formData" #projectData="ngForm" (ngSubmit)="createProject(projectData)">
  <header>
    Project Creation Page
  </header>

  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="input">
          <!--<i class="icon-append fa fa-user"></i>-->
          <input type="text" name="projectName" placeholder="Project Name" ngModel />
        </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <!--<i class="icon-append fa fa-briefcase"></i>-->
          <input type="text" name="projectTitle" placeholder="Project Title" ngModel />
        </label>
      </section>
    </div>

    <div class="row">
      <section class="col col-6">
        <label class="input">
          <!--<i class="icon-append fa fa-envelope-o"></i>-->
          <input type="text" name="extraInfo" placeholder="Extra Info" ngModel />
        </label>
      </section>
      <section class="col col-6">
        <label class="input">
          <!--<i class="icon-append fa fa-phone"></i>-->
          <input type="text" name="comments" placeholder="Comments" ngModel />
        </label>
      </section>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="input"> <i class="icon-append fa fa-calendar"></i>
          <input type="text" name="startDate" id="startDate" [saUiDatepicker]="{minRestrict:'#startDate'}" placeholder="Start Date"
            ngModel />
        </label>
      </section>
      <section class="col col-6">
        <label class="input"> <i class="icon-append fa fa-calendar"></i>
          <input type="text" name="deadline" id="deadline" [saUiDatepicker]="{minRestrict:'#deadline'}" placeholder="Deadline"
            ngModel />
        </label>
      </section>
    </div>
  </fieldset>
  <footer>
    <button type="submit" class="btn btn-primary">
      Create Project
    </button>
  </footer>
</form>