<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Projects', 'Project List']" icon="table"
      class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    </sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>

  <sa-widgets-grid>


    <div class="row">
      <article class="col-sm-12">

        <fieldset>
          <table datatable class="table row-border hover" *ngIf="this.temp_var">
            <thead>
              <tr>
                <th>Project Name</th>
                <th>Project Title</th>
                <th>Extra Info</th>
                <th>Comments</th>
                <th>Start Date</th>
                <th>Deadline</th>
                <th>Contacts</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rec of this.data">
                <td>{{rec.projectName}}</td>
                <td>{{rec.projectTitle}}</td>
                <td>{{rec.extraInfo}}</td>
                <td>{{rec.comments}}</td>
                <td>{{rec.startDate}}</td>
                <td>{{rec.deadline}}</td>
                <td>{{rec.contacts}}</td>
              </tr>
            </tbody>
          </table>
        </fieldset>

      </article>


    </div>

  </sa-widgets-grid>
</div>